@font-face {
  font-family: 'Inter';
  font-weight: 200;
  src: url('/fonts/inter/inter-extralight.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('/fonts/inter/inter-light.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('/fonts/inter/inter-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('/fonts/inter/inter-medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('/fonts/inter/inter-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('/fonts/inter/inter-bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('/fonts/inter/inter-extrabold.woff') format('woff');
}

:root {
  --pt-purple-50: #f5f0ff;
  --pt-purple-100: #deceff;
  --pt-purple-200: #c8adff;
  --pt-purple-300: #b18cff;
  --pt-purple-400: #9b6aff;
  --pt-purple-500: #8050e3;
  --pt-purple-600: #6538c1;
  --pt-purple-700: #4c249f;
  --pt-purple-800: #36147d;
  --pt-purple-900: #24095b;
  --pt-teal-light: #35f0d0;
  --pt-teal-dark: #0dc5a5;
  --pt-pink-light: #fa48e8;
  --pt-pink-dark: #b623a7;
  --pt-bg-purple-light: #5d3a97;
  --pt-bg-purple-dark: #2d0c66;
  --pt-bg-purple-darker: #21064e;
  --pt-warning-light: #ffb6b6;
  --pt-warning-dark: #8b0000;
  --pt-success: #90ee90;
  --pt-gold: #ffb636;
  --pt-transparent: #f5f0ff1a;
}

html {
  font-family: 'Inter';
  font-feature-settings: 'calt' off;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--pt-purple-50);
  background-color: var(--pt-bg-purple-darker);
  overflow-x: hidden;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='52' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(262, 86%, 16%, 1)'/><path d='M0 0v17.34L15 26a10.02 10.02 0 0 0 0 17.34L30 52V34.66L15 26a10.02 10.02 0 0 0 .3-17.16zm30 0a10.02 10.02 0 0 0 0 17.34zM0 34.66V52a10.02 10.02 0 0 0 .3-17.16Z'  stroke-width='1' stroke='none' fill='hsla(262, 79%, 22%, 1)'/><path d='M0 0a10 10 0 0 0 15 8.67A9.97 9.97 0 0 1 19.97 0H10A9.98 9.98 0 0 1 0 0Zm30 0v.15ZM4.98 15.98A10 10 0 0 0 0 17.32l-1.1 8.76L0 34.67A10 10 0 0 1 15 26 10 10 0 0 0 4.98 16ZM30 17.32A10 10 0 0 1 15 26a10 10 0 0 0 15 8.67l1.64-7.4zM19.97 41.98A10 10 0 0 0 15 43.32 10 10 0 0 1 10 52h9.97A10 10 0 0 1 30 52a10 10 0 0 0-10.03-10.02Z'  stroke-width='1' stroke='none' fill='hsla(263, 44%, 41%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
  opacity: 0.25;
  z-index: -1;
}

body > div {
  min-width: 100vw;
}

button {
  padding: 0;
  font: inherit;
  background: none;
  border: none;
  user-select: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

input {
  font: inherit;
  border: none;
  background-color: var(--pt-purple-50);
  color: var(--pt-purple-900);
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}
